.pixel-corners,
.pixel-corners--wrapper {
    clip-path: polygon(
    0px calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    calc(100% - 2px) 100%,
    calc(100% - 2px) calc(100% - 2px),
    100% calc(100% - 2px),
    100% 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) 0px,
    2px 0px,
    2px 2px,
    0px 2px
    );
    position: relative;
}

.pixel-corners {
    border: 2px solid transparent;
}

.pixel-corners--wrapper {
    width: fit-content;
    height: fit-content;
}

.pixel-corners--wrapper .pixel-corners {
    display: block;
    clip-path: polygon(
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px)
    );
}

.pixel-corners::after,
.pixel-corners--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(
    0px calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    calc(100% - 2px) 100%,
    calc(100% - 2px) calc(100% - 2px),
    100% calc(100% - 2px),
    100% 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) 0px,
    2px 0px,
    2px 2px,
    0px 2px,
    0px 50%,
    2px 50%,
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 50%,
    0px 50%
    );
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    display: block;
    pointer-events: none;
}

.pixel-corners::after {
    margin: -2px;
}
