@font-face {
    font-family: 'Tamzen';
    src: url('/fonts/TamzenMed.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Tamzen';
    src: url('/fonts/Tamzen10x20b.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}


* {
    font-family: 'Tamzen';
    font-weight: 500 !important;
    scrollbar-width: none !important;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important; 
}

body {
    margin: 0;
    background-image: url('/images/bg.svg');
    background-color: #888cb1;
    background-repeat: repeat-x;
    background-size: 16px;
    background-attachment: fixed;
}
