@font-face {
    font-family: 'Tamzen';
    src: url('fonts/Tamzen10x20r.ttf') format('truetype'),
         url('fonts/Tamzen10x20r.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-image: url('images/bg.png');
    background-color: #ffd6d4;
    background-repeat: repeat-x;
    background-size: auto;
    background-attachment: fixed;
}
