@font-face {
    font-family: 'Tamzen';
    src: url('fonts/Tamzen10x20r.ttf') format('truetype'),
         url('fonts/Tamzen10x20r.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000;
}
